<div >
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh">
    <h2 class="fontSettings">Your Working Partner</h2>
    <p class="fontSettings">Get started with your professional career</p>
    <button class="btn" mat-raised-button >Get Started</button>
  </div>

  <div style="position: absolute; top: -45vh; left: -10vw">
    <img src="assets/startPage/Ellipse%201.png" class="scale1" >
  </div>
  <div style="position: absolute; top: 50vh; right: 60vw">
    <img src="assets/startPage/Ellipse%203.png" class="scale2" >
  </div>
  <div style="position: absolute; top: 20vh; left: 70vw">
    <img src="assets/startPage/Ellipse%203.png">
  </div>
  <div style="position: absolute; top: 50vh; left: 10vw">
    <img src="assets/startPage/Ellipse%205.png" class="scale3" >
  </div>
  <div style="position: absolute; top: 80vh; left: 50vw">
    <img src="assets/startPage/Ellipse%204.png" class="scale4" >
  </div>
  <div style="position: absolute; top: 5vh; left: 70vw">
    <img src="assets/startPage/Ellipse%206.png" >
  </div>

</div>
